init_config:
  #    tags:
  #      - optional_tag1
  #      - optional_tag2

instances:
  # The kubernetes topology check retrieves topology from the kubernetes api.
  # By default we will assume we're running under docker and will use the address
  # of the default router to reach the kubernetes api.
  #
  # To change, e.g. in the case of a standalalone instance, you can change the below configuration options
  #
 - # Decide whether to use kubernetes authentication. This is useful when accessing the kubernetes master through a non-auth proxy
   master_use_kube_auth: true
   master_name: kubernetes
   master_port: 443


   
